{:paths   ["src"]
 :deps    {lambdaisland/deep-diff2 {:mvn/version "2.10.211"}}
 :aliases {:dev  {:extra-paths ["dev"]
                  :extra-deps  {poly/core-api {:local/root "../../bases/core-api"}}}
           :test {:extra-paths ["test" "test-resources"]
                  :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                      :git/sha "dfb30dd"}}
                  :exec-fn     cognitect.test-runner.api/test}}}
