{:directive-defs
 {:auth {:description "Authentication directive"
         :locations #{:field-definition}
         :args {:roles {:type (list :Role)}}}
  
  :deprecated {:description "Marks an element as deprecated"
               :locations #{:field-definition :enum-value}
               :args {:reason {:type String
                               :default-value "No longer supported"}}}
  
  :tag {:description "Add a tag to an element"
        :repeatable true
        :locations #{:field-definition :object}
        :args {:name {:type (non-null String)}}}
  
  :skip {:description "Skip this field or fragment"
         :locations #{:field :fragment-spread :inline-fragment}}}

 :enums
 {:Role {:values [{:enum-value :ADMIN}
                  {:enum-value :USER}]}}

 :objects
 {:User {:directives {:tag {:name "model"}}  ; single directive with args
         :fields {:name {:type String
                         :directives {:tag [{:name "sensitive"} 
                                           {:name "pii"}
                                           {}]}}  ; repeatable: with args, with args, no args
                  :email {:type String
                          :directives {:skip true}}  ; no args using true
                  :role {:type :Role
                         :directives {:auth {:roles [:ADMIN :USER]}}}  ; complex args
                  :oldField {:type String
                             :deprecated "Use name instead"}}}}

 :mutations
 {:updateUser {:type :User
               :args {:id {:type (non-null ID)}}
               :directives {:auth {:roles [:ADMIN]}}}}}