{:objects {:User                {:implements [:Node]
                                 :fields     {:id      {:type        (non-null ID)
                                                        :description "ID"}
                                              :address {:type       (list String)
                                                        :deprecated "deprecated"
                                                        :args       {:first {:type String}
                                                                     :after {:type String}}}}}
           :Occupation          {:fields      {:id   {:type        (non-null ID)
                                                      :description "ID"}
                                               :name {:type        (non-null String)
                                                      :description "직업군의 이름"}
                                               :code {:type        (non-null String)
                                                      :description "직업군 코드"}}
                                 :description "직업군"}
           :SetOccupationResult {:fields      {:user {:type (non-null :User)}}
                                 :description "setOccupation의 정상 수행 결과"}
           :NotFoundError       {:implements [:Error]
                                 :fields     {:message {:type String}}}
           :Nested              {:fields {:a {:type (non-null ID)}
                                          :b {:type (non-null :Nested2)}}}
           :Nested2             {:fields {:c {:type (non-null ID)}
                                          :d {:type (non-null :Nested3)}}}
           :Nested3             {:fields {:e {:type (non-null ID)}}}}}
