{:mutations {:setOccupation {:args        {:id {:type        (non-null ID)
                                                :description "직업군의 ID"}}
                             :type        (non-null :SetOccupationPayload)
                             :directives  (list {:directive-type :auth})
                             :description "로그인된 사용자의 직업군을 설정"}}}