{:queries {:occupations             {:args        {:after {:type        String
                                                           :description "test"}
                                                   :first {:type          Int
                                                           :default-value 1}}
                                     :type        (non-null (list (non-null :Occupation)))
                                     :description "직업군 목록"}

           ; empty args
           :cardCompanies           {:description "카드사 전체 조회 쿼리"
                                     :deprecated  "deprecated"
                                     :args        {}
                                     :type        (non-null (list (non-null :CardCompany)))
                                     :resolve     'farmmorning.core-api.payment.resolver/resolve-card-companies}

           ; default args
           :communityPinnedPosts    {:args        {:target {:type          (non-null (list (non-null :CommunityPostPinnedTarget)))
                                                            :default-value [:SUBJECT]}}
                                     :type        (non-null :CommunityPostConnection)
                                     :description "커뮤니티 게시글 목록 상단에 표시될 고정글의 데이터를 반환한다."}

           ; 반환값이 일반값
           :marketPriceV3LevelNames {:type        (non-null (list (non-null String)))
                                     :description "등급 조회"}

           ; field resolver 가 있는 경우
           :me                      {:type (non-null :User)}

           ; 인터페이스가 반환되는 경우
           :node                    {:args        {:id {:type        (non-null ID)
                                                        :description "The ID of an object"}}
                                     :type        :Node
                                     :description "Node 조회"}

           ; fields-map 테스트용
           :nested                  {:type (non-null :Nested)}}}
