{:interfaces    {:Node     {:fields {:id {:type String}}}
                 :UnusedIf {:fields {:id {:type String}}}}
 :objects       {:User    {:fields {:id        {:type String}
                                    :name      {:type String}
                                    :email     {:type String}
                                    :password  {:type String}
                                    :createdAt {:type String}
                                    :updatedAt {:type String}
                                    :deletedAt {:type :Date}}}
                 :Date    {:fields {:year  {:type Int}
                                    :month {:type Int}
                                    :day   {:type Int}}}
                 :Nesting {:fields {:id {:type String}}}
                 :MyNode  {:implements [:Node]
                           :fields     {:id {:type String}}}
                 :Dummy   {:fields {:id {:type String}}}
                 :SafeDummy {:fields {:id {:type String}}
                             :linters {:ignore true}}}
 :enums         {:Role       {:values [:ADMIN :USER]}
                 :UnusedEnum {:values [:UNUSED]}}
 :input-objects {:UserInput    {:fields {:name     {:type String}
                                         :email    {:type String}
                                         :password {:type String}}}
                 :SomeInput    {:fields {:id      {:type String}
                                         :another {:type :AnotherInput}}}
                 :AnotherInput {:fields {:id {:type String}}}
                 :DummyInput   {:fields {:id {:type String}}}}
 :queries       {:user    {:type :User
                           :args {:input {:type :SomeInput}}}
                 :nesting {:type (non-null (list (non-null :Nesting)))}}
 :mutations     {:createUser    {:type :User}
                 :updateUser    {:type :User
                                 :args {:input {:type :UserInput}}}
                 :deleteUser    {:type :User}
                 :createPost    {:type :Post}
                 :updatePost    {:type :Post}
                 :deletePost    {:type :Post}
                 :createComment {:type :Comment}
                 :updateComment {:type :Comment}
                 :deleteComment {:type :Comment}}}